.book-wrapper {
  display: flex;
  border-radius: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
  background: #f1f0ec;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
}

.book-image-container {
  flex: 1 1 auto;
  position: relative;
}

.book-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11px 10px 5px 9px;
  min-height: calc(50vw - 25px);
  width: 48%;
}

.book-title {
  font-size: 18px;
  line-height: 19px;
  font-size: 1.125rem;
  line-height: 1.1875rem;
  font-weight: 700;
  color: #101010;
  transition: color 0.2s;
  padding-top: 1px;
}

.book-subtitle {
  font-size: 15px;
  line-height: 16px;
  font-size: 0.9375rem;
  line-height: 1rem;
  font-weight: 300;
  color: #101010;
}

.book-details {
  font-size: 15px;
  line-height: 16px;
  font-size: 0.9375rem;
  line-height: 1rem;
  color: #b7bbc0;
  margin-top: 6px;
  margin-bottom: auto;
}

.book-id {
  color: #d0021b;
  font-size: 20px;
  line-height: 29px;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  font-weight: 300;
}
