.main-header {
  background: $light;
  padding: 15px 0;
}

.main-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-form {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.logo {
  font-family: $cursive;
  font-size: 31px;
  margin: 0;
}

.home .header-form {
  display: none;
}

.header-nav {
  display: flex;
  order: 1;
}

.nav-link {
  color: $dark;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid $dark;
}

.link-seperator {
  margin: 0 10px;
}

.home .home-link,
.bookshelf .bookshelf-link {
  border-bottom: 2px solid $dark;
  pointer-events: none;
}

@media (max-width: 950px) {
  .header-form {
    width: 100%;
  }
  .main-header .form-element {
    margin-top: 0;
  }

  .header-nav {
    order: 0;
  }
}
